doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CanisLupus
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    script(src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js")
    style.
      .alert {
        display: none;
      }
      .alert:target {
        display: block;
      }
  body
    .container
      header(style="margin: 32px 0;")
        h1 canislupus
        h2(style="color: #999999;") Login
      #main
        div#done.alert.alert-success(role="alert") アカウントを作成しました。ログインしてください。
        div#failed.alert.alert-danger(role="alert") ログインに失敗しました。再度お試しください。
        form(action="/login-pin" method="POST")
          .form-group
            label(for="id") ID
            input#id.form-control(type="text" placeholder="Enter ID" name="id" required)
          button#submit.btn.btn-primary(type="submit") Next
        br
        br
        a(href="/signup") New Account
